@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Forside>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<div id="frontpage">
    <div class="top-section">
        <div class="headerImage" style="background-image:url(@Model.VenstreBillede.Url)"></div>
        <div class="right-sidebar">
            @Model.HojreTekst
        </div>
    </div>    
    <div class="content">
        @Html.GetGridHtml(Model, "UnderTekst")
        @*@Model.UnderTekst.*@
    </div>  
</div>