
$logoColor: #1D4396;

//$primaryColor: #526DA8 ;
$primaryColor: #224898;
$secondaryColor: #C2C2C2;

$mobile-menu-color: #333333;

$ctaColor: #1bc358;

$primaryTextColor: #333;
$secondaryTextColor:#fff;

$primaryBackgroundColor:#fff;
$secondaryBackgroundColor:#f5f5f5;

$whiteColor: #fff;
